* {
    box-sizing: border-box;
  }

  .card {
    width: 29%;
    vertical-align: top;
    border-radius: 20px;
    display: inline-block;
    margin: 10px;
    background-color: rgb(224, 243, 171);
    border: 1px solid brown;
 }

  img {
    width: 382px;
    height: 580px;
    border-radius: 20px 20px;
 }

 .cnt {
    padding: 6px 12px;
 }
